.bg-main {
    color: #fff;
    background-color: #48c6d0;
  }
  
  .bg-second {
    color: #fff;
    background-color: #ef8601 !important;
  }
  
  .bg-white {
    background-color: #fff !important;
  }