.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active, .show>.btn.dropdown-toggle {
  background-color: $dark-btn;
  color: #fff;
}
.btn:not(:disabled):not(.disabled).active:focus, .btn:not(:disabled):not(.disabled):active:focus, .show>.btn.dropdown-toggle:focus {
  box-shadow: none !important;
}

.btn {
  border-radius: 5px;
  padding: .9rem 2.5rem;
}

.btn-lg {
  font-size: .8rem;
}

.btn-main {
    background-color: #48c6d0;
    border-color: #48c6d0;
    color: #fff;
  }
  
  .btn-main:hover,
  .btn-main:active,
  .btn-main:focus {
    background-color: #48c6d0;
    border-color: #48c6d0;
  }

  .btn-primary {
    background-color: $primary-btn;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .btn-secondary {
    background-color: $slank-btn;
    border: none !important;
    color: #fff;
    &:hover {
      background-color: $slank-btn;
      color: #fff;
    }
    &:active {
      background-color: $slank-btn;
      color: #fff;
    }
    &:focus {
      background-color: $slank-btn;
      color: #fff;
    }
  }

  .btn-dark {
    background-color: $dark-btn;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
      background-color: $dark-btn;
      color: #fff;
    }
    &:active {
      background: $dark-btn !important;
      color: #fff;
    }
    &:focus {
      background-color: $dark-btn;
      color: #fff;
    }
  }

.btn-info {
  text-transform: uppercase;
  background-color: $info !important;
  border-color: $info !important;
  font-size: small;
  padding: .6rem 2.5rem;
  font-weight: 600;
}
