.h1 {
  font-size: 28px;
  font-weight: bold
}

.h2 {
  font-size: 25px;
  font-weight: bold
}

.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 18px;
}

.h5 {
  font-size: 16px
}

.h6 {
  font-size: 14px
}
