.text-main {
    color: #48c6d0 !important;
  }
  
  .text-primary {
    color: #ef8601 !important;
  }
  .text-black {
    color: $black;
  }
  
  .text-light {
    color: #CFCFCF !important;
  }
  .text-dark-light {
    color: #ADADAD !important;
  }
  /* Partials */
  .text-bold {
    font-weight: bold;
  }
  .text-search-info {
    padding: 0 10px;
  }
  .text-italic {
    font-style: italic;
  }

  