.text-main {
    color: #48c6d0 !important;
  }
  
  .text-second {
    color: #ef8601 !important;
  }
  
  .text-grey {
    color: rgb(184, 184, 184) !important;
  }
  
  /* Partials */
  .text-bold {
    font-weight: bold;
  }
  .text-search-info {
    padding: 0 10px;
  }
  