
$info: #60c6ce !default;

$primary-btn : #48c6d0 !important;
$slank-btn : #ef8601;
$dark-btn: #cfcfcf;
$danger-btn: #d3312d;

$black: #686868;
$gray: #b2b2b2;
$primary: #48c6d0 !important;
$slank: #e88330;
$danger: #d3312d;