
$info: #60c6ce !default;

$primary-btn : #60c6ce;
$slank-btn : #e88330;
$secondary-btn: #d0d0d0;
$danger-btn: #d3312d;

$black: #686868;
$gray: #b2b2b2;
$primary: #60c6ce;
$slank: #e88330;
$danger: #d3312d;