.dropright {
    svg {
        margin-left: 20px;
        margin-right: 10px;
    }
}
.owl-carousel {
    .owl-nav button {
            &.owl-prev {
                width: 25px;
                height: 35px;
                position: absolute;
                top: 40%;
                margin-left: -15px;
                font-size: large !important;
                display: block !important;
                border: 0px solid #ef8601 !important;
                background-color: #ef8601 !important;
                color: #fff !important;
            }
            &.owl-next {
                width: 25px;
                height: 35px;
                position: absolute;
                top: 40%;
                font-size: large !important;
                right: -20px;
                display: block !important;
                border: 0px solid #ef8601 !important;
                background-color: #ef8601 !important;
                color: #fff !important;
            }
    }
}