body{
  color: #686868;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 540px) {
  .col-sm-2dot4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }
}
@media (min-width: 720px) {
  .col-md-2dot4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
  }
}
.card-body {
  padding: 0.5rem;
}
.card .company{
  margin-top: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}
.header-search {
  margin-bottom: 10px;
}

.short-by {
  padding: 10px;
}

.text-search-info {
  padding: 0 10px;
}
.sidebar .input-group-text {
  font-size: 0.8rem;
  background: none;
  border-right: none;
}
.custom-select:focus,
.input-group-text:focus {
  border:1px solid #ced4da;
  border-color: transparent;
  box-shadow: none;
}
.btn-main {
  background-color: #48c6d0;
  border-color: #48c6d0;
  color: #fff;
}
.btn-main:hover,
.btn-main:active,
.btn-main:focus,
{
  background-color: #48c6d0;
  border-color: #48c6d0;   
}
.btn-secondary {
   background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
{
  background-color: #ef8601;
  border-color: #ef8601;   
}

.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active, 
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #f18600;
  border-color: #f18600;
}
.bg-main
{
  color: #fff;
  background-color: #48c6d0;
}

.bg-second
{
  color: #fff;
  background-color: #ef8601 !important;
}

.bg-white
{
  background-color: #fff !important;
}

.text-main
{
  color: #48c6d0 !important;
}

.text-second
{
  color: #ef8601 !important;
}

.text-grey
{
  color: rgb(184, 184, 184) !important;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

/* navbar */

.navbar {
  background-color: #fff;
}

.navbar .navbar-brand{
  color: #48c6d0 !important;
}

.navbar .navbar-nav{
  margin-left: 30px;
}

.navbar .nav-link{
  color: #48c6d0 !important;
}

.navbar-nav{
  padding-left: 10px;
}

.navbar-nav .nav-item{
  margin-right : 15px;
}

.dropdown-style{
  color: rgb(184, 184, 184);
}

.input-style{
  width: 400px;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  height: 46px;
}

.form-style{
  margin-top: 2px;
  margin-right: 4px;
  color: rgb(184, 184, 184);
  font-style: italic;
  font-size: 10px;
}

input[type="search"].form-style::-webkit-input-placeholder {
  color: rgb(184, 184, 184);
  font-style: italic;
  font-size: 10px;
}

.btn-group-style{
  border: 0px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  font-size : 12px !important;
}

.form-control{
  font-size: 0.8rem;
}

.text-style {
  margin-left : 5px;
  font-size : 14px;
  vertical-align: super;
}

.btn-register,
.btn-login{
  border: 1px solid #48c6d0 !important;
}

.btn-register, .btn-login {
  font-weight: 800;
  font-size: 0.8rem;
  padding-top: 10px;
}

.btn-register{
  border-right: 1px solid rgb(184, 184, 184);
  color: #737271;
}

.btn-login{
  border-left: 1px solid rgb(184, 184, 184);
  color: #ef8601;
}

/* login */

#login {
  padding-top: 60px;
}

#login h5{
  color: #737271;
  font-size: 18px;
}

#login p{
  color: rgb(184, 184, 184);
  font-size: 10px;
}

.box{
  background-color: white;
  margin : 50px auto 50px auto;
  padding : 50px;
}

.form-style{
  color: #858483;
  font-size: 14px;
}

.form-style2{
  font-size: 14px;
}

.form-style3{
  color: #858483;
  font-size: 14px;
}

.form-box{
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
}

.btn-form
{
  background-color: #48c6d0 !important;
  color: #ffffff !important;
  width: 140px;
}

.hr-style1 {
  margin-top: 30px;
height: 2px;
border: 0;
box-shadow: 0 10px 10px -10px rgb(184, 184, 184) inset;
}

.form-regis{
  margin-top: 18px;
  font-size: 12px;
}

/* Register */

#register {
  padding-top: 60px;
}

#register h5{
  color: #737271;
  font-size: 18px;
}

#register p{
  color: rgb(184, 184, 184);
  font-size: 10px;
}

.box{
  background-color: white;
  margin : 50px auto 50px auto;
  padding : 50px;
}

.form-style{
  color: #858483;
  font-size: 14px;
  border: 0;
}

.form-style2{
  font-size: 14px;
}

.form-style3{
  color: #858483;
  font-size: 14px;
}

.form-box{
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
}

.btn-form
{
  background-color: #48c6d0 !important;
  color: #ffffff !important;
  width: 140px;
}

.hr-style1 {
  margin-top: 30px;
height: 2px;
border: 0;
box-shadow: 0 10px 10px -10px rgb(184, 184, 184) inset;
}

.form-regis{
  margin-top: 18px;
  font-size: 12px;
}

/* Jumbotron */

.jumbotron{
  /* background-image: url('./asset/img/bg.jpg'); */
  background-size: cover;
  background-position: center center;
  position: relative;
  top: 0em;
  bottom: 0em;
  height: 100vh;
  width: auto;
  height: auto;
  margin-bottom: 0px !important;
}

.white-box{
  background-color: #fff;
  width: auto;
  height: 600px;
  border-radius: 5px;
}

.curousel-box{
  background-color: #737271;
  width: 100%;
  height: 600px;
  position: relative;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;

}

.btn-dropdown{
  font-size: 0.8rem;
  color: #b1b1b1;
  border-radius: 0px;
  border-top: solid 1px #f3f3f3;
  border-bottom: solid 1px #f3f3f3;
  width: 100%;
  height: 50px;
}

.btn-dropdown:hover{
  color: #48c6d0;
  background-color: #f3f3f3;
}

.jumbo-head-style{
  font-size: 20px;
  color: #858483;
  margin: 20px 20px 0px 20px;
  padding-bottom: 20px;
}

.jumbo-input-style{
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
}

.dropright{
  padding-bottom: -2px !important;
}

/* Request Box */

#request-box{
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.white-box-2{
  position: relative;
  /* top:50px; */
  background-color: #fff;
  width: auto;
  /* height: 200px; */
  border-radius: 5px;
}

.request-image{
  height: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.request-input-style{
  width: auto;
  border: 2px solid rgb(184, 184, 184);
  border-radius: 5px;
  height: 46px;
}

.request-form-style{
  margin-top: 2px;
  margin-right: 4px;
  color: rgb(184, 184, 184);
  font-style: italic;
  font-size: 10px;
}

input[type="search"].request-form-style::-webkit-input-placeholder {
  color: rgb(184, 184, 184);
  font-style: italic;
  font-size: 10px;
}

.request-btn-style{
  border-radius: 5px;
  width: 200px;
  height: 46px;
  font-size: 14px;
}

/* Popular Tabs */

#popular-tab{
  width: auto;
  top: 0em;
  bottom: 0em;
}

.btn-popular{
  color: #737271;
  border: 1px solid #ebebeb;
  font-size: 0.8rem;
}

.btn-popular:hover{
  border: 2px solid #48c6d0;
}

/* Popular Items */

#popular-item{
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-box{
  border: none !important;
}

.card-deck{
  margin-bottom: 30px;
}
.card-text-style{
  color: #737271;
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.card-price{
  color: #ef8601;
  font-size: 1rem;
  margin-bottom: 10px;
}

.card-rating{
  margin-bottom: 5px;
}

.checked {
  color: orange;
}

.card-shop-name{
  color: #afafaf;
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Recomended Item */

#recomended-item{
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn-buy{
  background-color: #48c6d0;
  border: 2px solid #48c6d0;
  color: #fff;
  width: 100px;
  font-size: 14px;
  margin-top: 10px;
}

.btn-buy:hover{
  border: 2px solid #858483;
}

/* Partner */

#partner-box{
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.img-box{
  width: 200px;
  height: 200px;
  border-right: 1px solid rgb(184, 184, 184);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Footer */

.footer-box{
  margin : auto;
  padding-top : 30px;
  padding-bottom : 30px;
  color: #fff;
}

.footer-box .input-group{
  width: 350px;
}

.subscribe-box{
  border-radius: 50px;
  color: rgb(184, 184, 184);
  font-size: 10px;
  height: 30px;
}

input[type="email"].subscribe-box::-webkit-input-placeholder {
  color: rgb(184, 184, 184);
  font-style: italic;
  font-size: 10px;
}

.subscribe-btn{
  border-radius: 50px;
  padding: 0px 20px 0px 20px;
  background-color: #ef8601;
  color: #fff;
  height: 30px;
  font-size: 14px;
}

.p-style1{
  margin-top: 5px;
  font-size: 10px;
  color: #f0eeec;
}

.footer-table{
  font-size: 14px;
  width: 400px;
}

.footer-table td{
  font-size: 12px;
  margin-right: 5px;
}

.footer-table a{
  color: #f0eeec;
}

.footer-badge{
  width: 300px;
}

.footer-btn{
  border-radius: 50px;
  background-color: #ef8601;
  color: #fff;
  width: 40px;
  height: 40px;
}

.copyright{
  color: rgb(184, 184, 184);
  font-size: 12px;
  margin-top : 10px;
}
.owl-carousel .owl-nav button.owl-prev {
  width: 25px;
  height: 35px;
  position: absolute;
  top: 40%;
  margin-left: -15px;
  display: block !important;
  border: 0px solid #ef8601;
  background-color: #ef8601;
  color: #fff;
}

.owl-carousel .owl-nav button.owl-next {
  width: 25px;
  height: 35px;
  position: absolute;
  top: 40%;
  right: -20px;
  display: block !important;
  border: 0px solid #ef8601;
  background-color: #ef8601;
  color: #fff;
}
#quotation {
  padding-top: 30px;
  padding-bottom: 30px;
}
#quotation img.img-thumb {
  max-width: 90px;
}
.startform,
.title-product {
  color: #ef8601;
  font-weight: 600;
}
.head-table {
  background-color: #fff;
  padding: 10px 0;
}
.table-action {
  padding-top: 25px;
  font-size: 0.8rem;
}
.title-product {
  padding: 8px;
}
.special-note {
  max-width: 200px;
}
.box-form {
  background: #fff;
  padding: 30px;
}

form.form-quotation {
  width: 400px;
}

body {
  background-color: #ebebeb;
}
a,.page-link {
color: #48c6d0;
}
select:active,
select:focus,
.form-control:active,
.form-control:focus {
  border-color: #ebebeb;
  box-shadow: none;
}
.navbar-nav .fa {
  font-size: 2rem;
}
/* Sidebar */
.sidebar {
  padding: 10px;
  background-color: #fff;
  border-radius: 1px;
}
.sidebar .category-nav-box {
    border: 1px solid #ebebeb;
    border-radius: 5px;
    overflow: hidden;
}
.sidebar .form-control {
  border: 1px solid #ebebeb;
  font-size: 0.8rem;
}
.sidebar label {
  font-size: 0.9rem;
  font-weight: 600;
}
.sidebar input#category {
    margin: 10px;
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative; 
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  -webkit-transition: width .2s ease-in;
  -moz-transition:  width .2s ease-in;
  -ms-transition:  width .2s ease-in;
  transition: width .2s ease-in;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
     -ms-transition:  width .2s ease-in;
          transition: width .2s ease-in;

}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  padding: 3px 10px 8px 5px;
  color: #686868;
}

.sidebar-nav .dropdown-menu li a {
  font-size:0.8rem;
  color: #ababab;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
  color: #ef8601;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  top: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-left: 10px;
}
nav#category-nav {
  padding: 10px;
}




.wrapper {
  padding-top: 60px;
}
.box-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.no-gutters .card-box{
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}
.card-image {
  position: relative;
}
.card-img-top {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card-image:hover .card-img-top {
  opacity: 0.3;
}

.card-image:hover .middle {
  opacity: 1;
}
.product-details {
  border: 1px solid #ebebeb;
  padding: 5px;
  margin-bottom: 10px;
  height: 100px;
  overflow: scroll;
}
.content.dml {
  background-color: #fff;
  padding: 10px;
}
.content.dml h3.title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}
.content.dml .table td, .content.dml .table th {
  vertical-align: middle;
}
h2.title {
  font-size: 1.5rem;
}
/* Select Product */

.c-card {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.c-card ~ i.fas {
  visibility: hidden;
  opacity: 0;
  display: none;
}
.c-card:checked ~ i.fas {
  visibility: visible;
  opacity: 1;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: #48c6d0;
}
.c-card ~ .card-body {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border: none;
  border-radius: 20px;
}

.c-card ~ .card-body .form-control {
  border: 0px;
  border-radius: 1rem;
}
.c-card ~ .card-image label,
.c-card ~ .card-body label {
  display: block;
  cursor: pointer;
  margin-bottom: 0;
}

.c-card ~ .card-body .btn#unselect {
  display: none;
  background: #ced4da;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.c-card ~ .card-body .btn#select {
  display: block;
}

.c-card ~ .card-body .card-state-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background: url("http://alvarosanchez.com/images/c-state-icons.svg") no-repeat;
  background-position: 0 0;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.c-card ~ .card-body:before {
  position: absolute;
  top: 1px;
  right: 1px;
  content: "";
  width: 0;
  height: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.c-card ~ .card-body:after {
  position: absolute;
  top: 1px;
  right: 1px;
  content: "";
  width: 0;
  height: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.c-card ~ .card-body:hover {
  cursor: pointer;

}

.c-card ~ .card-body:hover .card-state-icon {
  background-position: -30px 0;
}

.c-card ~ .card-body:hover:before {
  border-top: 52px solid #6dc5dc;
}

.c-card:checked ~ .card-image,
.c-card:checked ~ .card-body {
  background-color: #fff;
  opacity: 0.1;
}

.c-card:checked ~ .card-body .card-state-icon {
  background-position: -90px 2px;
}

.c-card:checked ~ .card-body .btn#select {
  display: none;
}

.c-card:checked ~ .card-body .btn#unselect {
  display: block;
}


.c-card:checked:hover ~ .card-body {
  cursor: pointer;
}

.c-card:checked:hover ~ .card-body .card-state-icon {
  background-position: -60px 2px;
}
.selected-item {
  border-top: 1px solid #333;
  padding-top: 10px;
}
.box-action {
  margin-left: 5px;
}
/* End Select Product */

span.badge.badge-light.custom {
  padding: 12px;
}
.product-price {
  color: #ef8601;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.not-found {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-align:center;
}
.notice {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.notice h3 {
  color:   #ef8601;
}

footer {
  background-color: black;
}